<form class="form-signin">
      <img class="mb-4" src="https://d30o7qbghf97ws.cloudfront.net/micolet-logo.svg" alt="" width="330" height="100">
      
      <div class="container p-3 my-3 bg-warning text-white">
        <h1>Email already use</h1>
        <p>This email exist.</p>
      </div>
      
      <button class="btn btn-lg btn-success btn-block" type="submit">Reintentar</button>
    </form>

    <script>
        
    </script>

